body {
    font-family: "Playfair Display", serif;
    margin: auto;
    padding: 0;
    background-color: #FFCCE1;
}
  h1, h2{
    text-align: center;
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: #E195AB;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}

.container {
    background: #FFF5D7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #E195AB;
    color: #F2F9FF;
    padding: 20px;
}

